body {
    font-family: 'Baloo Bhai', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    color: #FFF;
    font-size: 1.8rem;
}

h1, h2, h3 {
    margin: 10px 0px;
    font-weight: 300;
    color: white;
}

.menu {
    width: 30%; 

    margin: 10px auto;
    padding: 0%;
    display: flex;
    justify-content: center;
}

.menu ul {
    display: flex;    
    /* background-color: #777; */
    list-style: none;
    padding: 0;
    border-radius: 50px;
    overflow: hidden;
    height: 65px;
    min-width: 100px;
    justify-content: center;
    align-items: center;
        
}

.menu li {
    flex: 1;
    width: 50%;
    background-color: none;
}


.menu a {
    display: flex;
    justify-content: center;
    /* padding: 15px 40px; */
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
}

.menu ul .active a i {
    color: #86f023;
    cursor: pointer;
}

.icons {
    font-size: 30px;
 }

.menu .active a {
    color: #FFF;
}

.menu a {
    color: #FFF;
}


a:hover {
    color: none;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    outline: none;
    border: 0;
}

[sucesso] {
    color: #FFF;
    background-color: #47af55;
}

[sucesso]:hover {
    background-color: #47af55aa;
}

[primario] {
    color: #FFF;
    background-color: #2392f0;
}

[primario]:hover {
    background-color: #2392f0aa;
}

.lista {
    list-style: none;
    padding: 0px;
    border: 1px solid #FFF;
    border-radius: 8px;
    overflow: hidden;
}

.lista .item-lista {
    padding: 15px 25px;
    cursor: pointer;
}

.lista .item-lista:hover {
    background-color: #FFF3;
}

.lista .item-lista:nth-child(n + 2) {
    border-top: 1px solid #FFF;
}